*Author:*  
**Ella Pournezhad**  
  
*Description:*   
**Air Pollution Data is being cleansed, processed and analysed in this code.**

In [1]:
import pandas as pd
import numpy as np
import os

#### Functions Defining:

In [2]:
def drop_status_column(df):
    for column in df.columns:
        if column.startswith('Status'):
            df.drop(columns=[column], inplace=True)

In [3]:
def merge_dataframes(dataframes):
    '''This function merges multiple dataframes'''
    merged_df = pd.concat(dataframes, ignore_index=True, sort=False)
    return merged_df

In [4]:
def add_station_name(df, file_name):
    ''' This function extracts station name from file name and adds it in StationName column'''
    station_name = file_name.split('/')[-1].split(' ')[1:-1]  # Extracting words between first and last in file name
    station_name = ' '.join(station_name)
    station_name = station_name.replace("'", "")
    df.insert(2, "StationName", station_name)

In [5]:
def read_and_add_station_name(file_path):
    df = pd.read_csv(file_path)
    add_station_name(df, file_path)
    return df

In [6]:
def convert_to_float(df, columns):
    for column in columns:
        df[column] = df[column].astype(float)

In [7]:
def remove_rows_with_negative_values(df, pollutant_columns):
    ''' This function removes rows with negative value for one pollutant.'''
    mask = df[pollutant_columns] < 0
    rows_with_negative_values = mask.any(axis=1)
    df_cleaned = df[~rows_with_negative_values]
    return df_cleaned

#### Loading Data Files:

In the original data files downloaded from the site (????? site must be added ?????)  
there were some extra rows **outside the table** which were removed manually.

In [8]:
df1_path = "AP data - changed/Bristol Centre 2004-2006.csv"
df2_path = "AP data - changed/Bristol Temple Way 2018-2024.csv"
df3_path = "AP data - changed/Bristol Old Market 2004-2013.csv"
df4_path = "AP data - changed/Bristol St Paul's 2007-2024.csv"

In [9]:
# Loading data and adding StationName to each dataframe
df1 = read_and_add_station_name(df1_path)
df2 = read_and_add_station_name(df2_path)
df3 = read_and_add_station_name(df3_path)
df4 = read_and_add_station_name(df4_path)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3436\3136336549.py:2: DtypeWarning: Columns (17,19,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

#### Preprocessing Data:

In [10]:
# Dropping 'Status' columns if they exist
drop_status_column(df1)
drop_status_column(df2)
drop_status_column(df3)
drop_status_column(df4)

df1.info()
df2.info()
df3.info()
df4.info()

In [11]:
# Merging dataframes
merged_df = merge_dataframes([df1, df2, df3, df4])

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293478 entries, 0 to 293477
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Date                                        293475 non-null  object
 1   Time                                        293474 non-null  object
 2   StationName                                 293478 non-null  object
 3   Ozone                                       163992 non-null  object
 4   Nitric oxide                                293474 non-null  object
 5   Nitrogen dioxide                            293474 non-null  object
 6   Nitrogen oxides as nitrogen dioxide         293474 non-null  object
 7   Sulphur dioxide                             163992 non-null  object
 8   Carbon monoxide                             239976 non-null  object
 9   PM10 particulate matter (Hourly measured)   217490 non-null  object
 10  Modelled Wind Direction                     53498 non-null   object
 11  Modelled Wind Speed                         53498 non-null   object
 12  Modelled Temperature                        53498 non-null   object
 13  Non-volatile PM10 (Hourly measured)         149016 non-null  object
 14  Volatile PM10 (Hourly measured)             149016 non-null  object
 15  PM2.5 particulate matter (Hourly measured)  149016 non-null  object
 16  Non-volatile PM2.5 (Hourly measured)        149016 non-null  object
 17  Volatile PM2.5 (Hourly measured)            149016 non-null  object
dtypes: object(18)
memory usage: 40.3+ MB

In [13]:
# importing into CSV
merged_df.to_csv('AP data - merged.csv' , index= False)

#### Data Cleansing:

In [14]:
df_clean = merged_df

In [15]:
# Changing 'No data' values into valid NaN
df_clean = df_clean.replace('No data	', np.NaN)
df_clean = df_clean.replace('No data', np.NaN)

In [16]:
# Sorting Data
df_clean = df_clean.sort_values(by=['Date', 'Time', 'StationName'])
df_clean = df_clean.reset_index(drop=True)

In [17]:
# Converting Date column into valid datetime type
df_clean['Date2'] = pd.to_datetime(df_clean['Date'], format='%m/%d/%Y', errors='coerce')

In [18]:
# Removing rows with invalid dates
df_clean['Date'] = df_clean['Date2']
df_clean = df_clean.dropna(subset=['Date'])
df_clean.drop(columns=['Date2'], inplace= True)

In [19]:
# Defining list of pollutant columns 
pollutant_columns = ['Ozone', 'Nitric oxide', 'Nitrogen dioxide', 
                     'Nitrogen oxides as nitrogen dioxide', 
                     'Sulphur dioxide', 'Carbon monoxide', 
                     'PM10 particulate matter (Hourly measured)',
                     'Modelled Wind Direction', 'Modelled Wind Speed',
                     'Modelled Temperature',
                     'Non-volatile PM10 (Hourly measured)',
                     'Volatile PM10 (Hourly measured)',
                     'PM2.5 particulate matter (Hourly measured)',
                     'Non-volatile PM2.5 (Hourly measured)',
                     'Volatile PM2.5 (Hourly measured)']

In [20]:
# Changing Datatypes
convert_to_float(df_clean, pollutant_columns)

In [21]:
# Removing rows with negative values
df_clean = remove_rows_with_negative_values(df_clean, pollutant_columns)

In [22]:
df_clean.describe()

,Date,Ozone,Nitric oxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured),Modelled Wind Direction,Modelled Wind Speed,Modelled Temperature,Non-volatile PM10 (Hourly measured),Volatile PM10 (Hourly measured),PM2.5 particulate matter (Hourly measured),Non-volatile PM2.5 (Hourly measured),Volatile PM2.5 (Hourly measured)
count,278229,143480.000000,268792.000000,261589.000000,261588.000000,58468.000000,120875.000000,186461.000000,45437.000000,45437.000000,45437.000000,86821.000000,86814.000000,106864.000000,72542.000000,72542.000000
mean,2014-01-12 10:03:02.672546560,44.321060,30.008099,36.776912,80.813133,2.419751,0.422890,19.098356,197.359945,4.856621,10.053824,15.284098,3.602358,12.038296,9.951749,3.629247
min,2004-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008-09-20 00:00:00,26.000000,2.253575,15.000000,19.322680,0.000000,0.200000,10.628000,128.700000,2.900000,6.400000,8.000000,1.600000,5.600000,4.000000,2.000000
50%,2012-12-16 00:00:00,46.000000,6.944015,29.000000,40.000000,3.000000,0.300000,16.000000,218.300000,4.300000,9.700000,12.300000,3.000000,8.800000,7.000000,3.000000
75%,2019-12-20 00:00:00,62.000000,32.846400,51.560160,97.000000,3.000000,0.500000,23.700000,268.800000,6.300000,13.500000,19.000000,5.000000,14.600000,12.100000,4.700000
max,2024-02-08 00:00:00,178.216010,888.000000,288.000000,1645.000000,82.000000,6.300000,481.000000,360.000000,19.000000,29.700000,465.000000,29.000000,320.000000,311.000000,26.000000
std,NaN,25.259977,53.877651,28.154910,104.333211,3.285349,0.368914,13.244237,89.936214,2.654018,4.983211,12.591567,3.011835,11.419159,10.404207,2.853946

In [23]:
df_clean.head(5)

,Date,Time,StationName,Ozone,Nitric oxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured),Modelled Wind Direction,Modelled Wind Speed,Modelled Temperature,Non-volatile PM10 (Hourly measured),Volatile PM10 (Hourly measured),PM2.5 particulate matter (Hourly measured),Non-volatile PM2.5 (Hourly measured),Volatile PM2.5 (Hourly measured)
0,2004-01-01,10:00:00,Centre,58.0,3.0,15.0,19.0,0.0,0.1,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004-01-01,10:00:00,Old Market,NaN,1.0,21.0,23.0,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-01-01,11:00:00,Centre,60.0,3.0,19.0,23.0,3.0,0.1,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004-01-01,11:00:00,Old Market,NaN,1.0,25.0,27.0,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004-01-01,12:00:00,Centre,64.0,4.0,15.0,21.0,3.0,0.1,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN