*Author:*  
**Ella Pournezhad**  
  
*Description:*   
**Air Pollution Data is being cleansed, processed and analysed in this code.**

In [1]:
import pandas as pd
import numpy as np
import os

#### Functions Defining:

In [2]:
def drop_status_column(df):
    for column in df.columns:
        if column.startswith('Status'):
            df.drop(columns=[column], inplace=True)

In [3]:
def merge_dataframes(dataframes):
    '''This function merges multiple dataframes'''
    merged_df = pd.concat(dataframes, ignore_index=True, sort=False)
    return merged_df

In [4]:
def add_station_name(df, file_name):
    ''' This function extracts station name from file name and adds it in StationName column'''
    station_name = file_name.split('/')[-1].split(' ')[1:-1]  # Extracting words between first and last in file name
    station_name = ' '.join(station_name)
    station_name = station_name.replace("'", "")
    df.insert(2, "StationName", station_name)

In [5]:
def read_and_add_station_name(file_path):
    df = pd.read_csv(file_path)
    add_station_name(df, file_path)
    return df

In [6]:
def convert_to_float(df, columns):
    for column in columns:
        df[column] = df[column].astype(float)

In [27]:
def remove_rows_with_negative_values(df, pollutant_columns):
    ''' This function removes rows with negative value for one pollutant.'''
    mask = df[pollutant_columns] < 0
    rows_with_negative_values = mask.any(axis=1)
    df_cleaned = df[~rows_with_negative_values]
    return df_cleaned

#### Loading Data Files:

In the original data files downloaded from the site (????? site must be added ?????)  
there were some extra rows **outside the table** which were removed manually.

In [7]:
df1_path = "AP data - changed/Bristol Centre 2004-2006.csv"
df2_path = "AP data - changed/Bristol Temple Way 2018-2024.csv"
df3_path = "AP data - changed/Bristol Old Market 2004-2013.csv"
df4_path = "AP data - changed/Bristol St Paul's 2007-2024.csv"

In [8]:
# Loading data and adding StationName to each dataframe
df1 = read_and_add_station_name(df1_path)
df2 = read_and_add_station_name(df2_path)
df3 = read_and_add_station_name(df3_path)
df4 = read_and_add_station_name(df4_path)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13504\3136336549.py:2: DtypeWarning: Columns (17,19,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

#### Preprocessing Data:

In [9]:
# Dropping 'Status' columns if they exist
drop_status_column(df1)
drop_status_column(df2)
drop_status_column(df3)
drop_status_column(df4)

In [10]:
df1.info()
df2.info()
df3.info()
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14980 entries, 0 to 14979
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Date                                       14977 non-null  object
 1   Time                                       14976 non-null  object
 2   StationName                                14980 non-null  object
 3   Ozone                                      14976 non-null  object
 4   Nitric oxide                               14976 non-null  object
 5   Nitrogen dioxide                           14976 non-null  object
 6   Nitrogen oxides as nitrogen dioxide        14976 non-null  object
 7   Sulphur dioxide                            14976 non-null  object
 8   Carbon monoxide                            14976 non-null  object
 9   PM10 particulate matter (Hourly measured)  14976 non-null  object
dtypes: object(10)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53498 entries, 0 to 53497
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Date                                       53498 non-null  object
 1   Time                                       53498 non-null  object
 2   StationName                                53498 non-null  object
 3   Nitric oxide                               53498 non-null  object
 4   Nitrogen dioxide                           53498 non-null  object
 5   Nitrogen oxides as nitrogen dioxide        53498 non-null  object
 6   PM10 particulate matter (Hourly measured)  53498 non-null  object
 7   Modelled Wind Direction                    53498 non-null  object
 8   Modelled Wind Speed                        53498 non-null  object
 9   Modelled Temperature                       53498 non-null  object
dtypes: object(10)
memory usage: 4.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75984 entries, 0 to 75983
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 75984 non-null  object
 1   Time                                 75984 non-null  object
 2   StationName                          75984 non-null  object
 3   Nitric oxide                         75984 non-null  object
 4   Nitrogen dioxide                     75984 non-null  object
 5   Nitrogen oxides as nitrogen dioxide  75984 non-null  object
 6   Carbon monoxide                      75984 non-null  object
dtypes: object(7)
memory usage: 4.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149016 entries, 0 to 149015
Data columns (total 15 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Date                                        149016 non-null  object
 1   Time                                        149016 non-null  object
 2   StationName                                 149016 non-null  object
 3   Ozone                                       149016 non-null  object
 4   Nitric oxide                                149016 non-null  object
 5   Nitrogen dioxide                            149016 non-null  object
 6   Nitrogen oxides as nitrogen dioxide         149016 non-null  object
 7   Sulphur dioxide                             149016 non-null  object
 8   Carbon monoxide                             149016 non-null  object
 9   PM10 particulate matter (Hourly measured)   149016 non-null  object
 10  Non-volatile PM10 (Hourly measured)         149016 non-null  object
 11  Volatile PM10 (Hourly measured)             149016 non-null  object
 12  PM2.5 particulate matter (Hourly measured)  149016 non-null  object
 13  Non-volatile PM2.5 (Hourly measured)        149016 non-null  object
 14  Volatile PM2.5 (Hourly measured)            149016 non-null  object
dtypes: object(15)
memory usage: 17.1+ MB

In [11]:
# Merging dataframes
merged_df = merge_dataframes([df1, df2, df3, df4])

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293478 entries, 0 to 293477
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Date                                        293475 non-null  object
 1   Time                                        293474 non-null  object
 2   StationName                                 293478 non-null  object
 3   Ozone                                       163992 non-null  object
 4   Nitric oxide                                293474 non-null  object
 5   Nitrogen dioxide                            293474 non-null  object
 6   Nitrogen oxides as nitrogen dioxide         293474 non-null  object
 7   Sulphur dioxide                             163992 non-null  object
 8   Carbon monoxide                             239976 non-null  object
 9   PM10 particulate matter (Hourly measured)   217490 non-null  object
 10  Modelled Wind Direction                     53498 non-null   object
 11  Modelled Wind Speed                         53498 non-null   object
 12  Modelled Temperature                        53498 non-null   object
 13  Non-volatile PM10 (Hourly measured)         149016 non-null  object
 14  Volatile PM10 (Hourly measured)             149016 non-null  object
 15  PM2.5 particulate matter (Hourly measured)  149016 non-null  object
 16  Non-volatile PM2.5 (Hourly measured)        149016 non-null  object
 17  Volatile PM2.5 (Hourly measured)            149016 non-null  object
dtypes: object(18)
memory usage: 40.3+ MB

In [13]:
# importing into CSV
merged_df.to_csv('AP data - merged.csv' , index= False)

In [14]:
merged_df.head(5)

,Date,Time,StationName,Ozone,Nitric oxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured),Modelled Wind Direction,Modelled Wind Speed,Modelled Temperature,Non-volatile PM10 (Hourly measured),Volatile PM10 (Hourly measured),PM2.5 particulate matter (Hourly measured),Non-volatile PM2.5 (Hourly measured),Volatile PM2.5 (Hourly measured)
0,1/1/2004,1:00:00,Centre,No data,No data,No data,No data,No data,No data,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2004,2:00:00,Centre,66,No data,No data,No data,0,0.1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2004,3:00:00,Centre,66,0,13,13,0,0.1,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2004,4:00:00,Centre,58,1,11,13,0,0.2,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2004,5:00:00,Centre,58,1,13,15,0,0.1,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Data Cleansing:

In [15]:
df_clean = merged_df

In [16]:
# Changing 'No data' values into valid NaN
df_clean = df_clean.replace('No data	', np.NaN)
df_clean = df_clean.replace('No data', np.NaN)

In [17]:
# Sorting Data
df_clean = df_clean.sort_values(by=['Date', 'Time', 'StationName'])
df_clean = df_clean.reset_index(drop=True)

In [18]:
df_clean.head(5)

,Date,Time,StationName,Ozone,Nitric oxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured),Modelled Wind Direction,Modelled Wind Speed,Modelled Temperature,Non-volatile PM10 (Hourly measured),Volatile PM10 (Hourly measured),PM2.5 particulate matter (Hourly measured),Non-volatile PM2.5 (Hourly measured),Volatile PM2.5 (Hourly measured)
0,1/1/2004,10:00:00,Centre,58,3,15,19,0,0.1,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2004,10:00:00,Old Market,NaN,1,21,23,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2004,11:00:00,Centre,60,3,19,23,3,0.1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2004,11:00:00,Old Market,NaN,1,25,27,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2004,12:00:00,Centre,64,4,15,21,3,0.1,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Cheking StationNames
df_clean['StationName'].unique()

array(['Centre', 'Old Market', 'St Pauls', 'Temple Way'], dtype=object)

In [20]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293478 entries, 0 to 293477
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Date                                        293475 non-null  object
 1   Time                                        293474 non-null  object
 2   StationName                                 293478 non-null  object
 3   Ozone                                       156894 non-null  object
 4   Nitric oxide                                283754 non-null  object
 5   Nitrogen dioxide                            276549 non-null  object
 6   Nitrogen oxides as nitrogen dioxide         276548 non-null  object
 7   Sulphur dioxide                             62072 non-null   object
 8   Carbon monoxide                             124463 non-null  object
 9   PM10 particulate matter (Hourly measured)   200946 non-null  object
 10  Modelled Wind Direction                     47064 non-null   object
 11  Modelled Wind Speed                         47064 non-null   object
 12  Modelled Temperature                        47064 non-null   object
 13  Non-volatile PM10 (Hourly measured)         99272 non-null   object
 14  Volatile PM10 (Hourly measured)             99265 non-null   object
 15  PM2.5 particulate matter (Hourly measured)  118209 non-null  object
 16  Non-volatile PM2.5 (Hourly measured)        83097 non-null   object
 17  Volatile PM2.5 (Hourly measured)            83097 non-null   object
dtypes: object(18)
memory usage: 40.3+ MB

In [21]:
# Converting Date column into valid datetime type
df_clean['Date2'] = pd.to_datetime(df_clean['Date'], format='%m/%d/%Y', errors='coerce')
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293478 entries, 0 to 293477
Data columns (total 19 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Date                                        293475 non-null  object
 1   Time                                        293474 non-null  object
 2   StationName                                 293478 non-null  object
 3   Ozone                                       156894 non-null  object
 4   Nitric oxide                                283754 non-null  object
 5   Nitrogen dioxide                            276549 non-null  object
 6   Nitrogen oxides as nitrogen dioxide         276548 non-null  object
 7   Sulphur dioxide                             62072 non-null   object
 8   Carbon monoxide                             124463 non-null  object
 9   PM10 particulate matter (Hourly measured)   200946 non-null  object
 10  Modelled Wind Direction                     47064 non-null   object
 11  Modelled Wind Speed                         47064 non-null   object
 12  Modelled Temperature                        47064 non-null   object
 13  Non-volatile PM10 (Hourly measured)         99272 non-null   object
 14  Volatile PM10 (Hourly measured)             99265 non-null   object
 15  PM2.5 particulate matter (Hourly measured)  118209 non-null  object
 16  Non-volatile PM2.5 (Hourly measured)        83097 non-null   object
 17  Volatile PM2.5 (Hourly measured)            83097 non-null   object
 18  Date2                                       293474 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(18)
memory usage: 42.5+ MB

In [22]:
# Cheking dates
df_clean[(df_clean['Date'].notnull()) & (df_clean['Date2'].isnull())]

,Date,Time,StationName,Ozone,Nitric oxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured),Modelled Wind Direction,Modelled Wind Speed,Modelled Temperature,Non-volatile PM10 (Hourly measured),Volatile PM10 (Hourly measured),PM2.5 particulate matter (Hourly measured),Non-volatile PM2.5 (Hourly measured),Volatile PM2.5 (Hourly measured),Date2
293474,End,NaN,Centre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [23]:
# Removing rows with invalid dates
df_clean['Date'] = df_clean['Date2']
df_clean = df_clean.dropna(subset=['Date'])
df_clean.drop(columns=['Date2'], inplace= True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 293474 entries, 0 to 293473
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Date                                        293474 non-null  datetime64[ns]
 1   Time                                        293474 non-null  object
 2   StationName                                 293474 non-null  object
 3   Ozone                                       156894 non-null  object
 4   Nitric oxide                                283754 non-null  object
 5   Nitrogen dioxide                            276549 non-null  object
 6   Nitrogen oxides as nitrogen dioxide         276548 non-null  object
 7   Sulphur dioxide                             62072 non-null   object
 8   Carbon monoxide                             124463 non-null  object
 9   PM10 particulate matter (Hourly measured)   200946 non-null  object
 10  Modelled Wind Direction                     47064 non-null   object
 11  Modelled Wind Speed                         47064 non-null   object
 12  Modelled Temperature                        47064 non-null   object
 13  Non-volatile PM10 (Hourly measured)         99272 non-null   object
 14  Volatile PM10 (Hourly measured)             99265 non-null   object
 15  PM2.5 particulate matter (Hourly measured)  118209 non-null  object
 16  Non-volatile PM2.5 (Hourly measured)        83097 non-null   object
 17  Volatile PM2.5 (Hourly measured)            83097 non-null   object
dtypes: datetime64[ns](1), object(17)
memory usage: 42.5+ MB

In [28]:
# Defining list of pollutant columns 
pollutant_columns = ['Ozone', 'Nitric oxide', 'Nitrogen dioxide', 
                     'Nitrogen oxides as nitrogen dioxide', 
                     'Sulphur dioxide', 'Carbon monoxide', 
                     'PM10 particulate matter (Hourly measured)',
                     'Modelled Wind Direction', 'Modelled Wind Speed',
                     'Modelled Temperature',
                     'Non-volatile PM10 (Hourly measured)',
                     'Volatile PM10 (Hourly measured)',
                     'PM2.5 particulate matter (Hourly measured)',
                     'Non-volatile PM2.5 (Hourly measured)',
                     'Volatile PM2.5 (Hourly measured)']

In [24]:
# Changing Datatypes
convert_to_float(df_clean, pollutant_columns)

In [25]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 293474 entries, 0 to 293473
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Date                                        293474 non-null  datetime64[ns]
 1   Time                                        293474 non-null  object
 2   StationName                                 293474 non-null  object
 3   Ozone                                       156894 non-null  float64
 4   Nitric oxide                                283754 non-null  float64
 5   Nitrogen dioxide                            276549 non-null  float64
 6   Nitrogen oxides as nitrogen dioxide         276548 non-null  float64
 7   Sulphur dioxide                             62072 non-null   float64
 8   Carbon monoxide                             124463 non-null  float64
 9   PM10 particulate matter (Hourly measured)   200946 non-null  float64
 10  Modelled Wind Direction                     47064 non-null   float64
 11  Modelled Wind Speed                         47064 non-null   float64
 12  Modelled Temperature                        47064 non-null   float64
 13  Non-volatile PM10 (Hourly measured)         99272 non-null   float64
 14  Volatile PM10 (Hourly measured)             99265 non-null   float64
 15  PM2.5 particulate matter (Hourly measured)  118209 non-null  float64
 16  Non-volatile PM2.5 (Hourly measured)        83097 non-null   float64
 17  Volatile PM2.5 (Hourly measured)            83097 non-null   float64
dtypes: datetime64[ns](1), float64(15), object(2)
memory usage: 42.5+ MB

In [26]:
df_clean.describe()

,Date,Ozone,Nitric oxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured),Modelled Wind Direction,Modelled Wind Speed,Modelled Temperature,Non-volatile PM10 (Hourly measured),Volatile PM10 (Hourly measured),PM2.5 particulate matter (Hourly measured),Non-volatile PM2.5 (Hourly measured),Volatile PM2.5 (Hourly measured)
count,293474,156894.000000,283754.000000,276549.000000,276548.000000,62072.000000,124463.000000,200946.000000,47064.000000,47064.000000,47064.000000,99272.000000,99265.000000,118209.000000,83097.000000,83097.000000
mean,2014-02-10 13:30:34.408499456,44.918185,29.180249,36.104727,78.943844,2.381847,0.418998,18.548785,195.728676,4.798581,9.681400,14.620258,3.151072,11.381690,9.304823,3.271667
min,2004-01-01 00:00:00,-3.492480,-0.995770,-0.526350,0.000000,0.000000,0.100000,-4.831000,0.000000,0.000000,-6.000000,-4.200000,-9.400000,-6.000000,-4.700000,-6.600000
25%,2008-10-30 00:00:00,26.875430,2.155330,15.000000,19.000000,0.000000,0.200000,10.100000,124.300000,2.900000,6.000000,7.800000,1.000000,5.000000,3.900000,1.500000
50%,2013-05-13 00:00:00,47.298090,6.143385,28.851020,38.000000,3.000000,0.300000,15.459000,217.100000,4.300000,9.500000,12.000000,2.600000,8.000000,6.400000,2.900000
75%,2019-11-13 00:00:00,62.016380,30.252882,50.000000,94.000000,3.000000,0.500000,23.189000,268.200000,6.200000,13.400000,18.000000,4.400000,13.900000,11.300000,4.200000
max,2024-02-08 00:00:00,178.216010,888.000000,288.000000,1645.000000,82.000000,6.300000,481.000000,360.000000,19.000000,29.700000,465.000000,29.000000,320.000000,311.000000,26.000000
std,NaN,24.935631,53.341848,27.855277,103.227676,3.233572,0.366544,13.194399,90.517046,2.656316,5.323153,12.246816,3.147125,11.163516,10.051254,2.913552

In [29]:
# Removing rows with negative values
df_clean = remove_rows_with_negative_values(df_clean, pollutant_columns)

In [30]:
df_clean.describe()

,Date,Ozone,Nitric oxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured),Modelled Wind Direction,Modelled Wind Speed,Modelled Temperature,Non-volatile PM10 (Hourly measured),Volatile PM10 (Hourly measured),PM2.5 particulate matter (Hourly measured),Non-volatile PM2.5 (Hourly measured),Volatile PM2.5 (Hourly measured)
count,278229,143480.000000,268792.000000,261589.000000,261588.000000,58468.000000,120875.000000,186461.000000,45437.000000,45437.000000,45437.000000,86821.000000,86814.000000,106864.000000,72542.000000,72542.000000
mean,2014-01-12 10:03:02.672546560,44.321060,30.008099,36.776912,80.813133,2.419751,0.422890,19.098356,197.359945,4.856621,10.053824,15.284098,3.602358,12.038296,9.951749,3.629247
min,2004-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008-09-20 00:00:00,26.000000,2.253575,15.000000,19.322680,0.000000,0.200000,10.628000,128.700000,2.900000,6.400000,8.000000,1.600000,5.600000,4.000000,2.000000
50%,2012-12-16 00:00:00,46.000000,6.944015,29.000000,40.000000,3.000000,0.300000,16.000000,218.300000,4.300000,9.700000,12.300000,3.000000,8.800000,7.000000,3.000000
75%,2019-12-20 00:00:00,62.000000,32.846400,51.560160,97.000000,3.000000,0.500000,23.700000,268.800000,6.300000,13.500000,19.000000,5.000000,14.600000,12.100000,4.700000
max,2024-02-08 00:00:00,178.216010,888.000000,288.000000,1645.000000,82.000000,6.300000,481.000000,360.000000,19.000000,29.700000,465.000000,29.000000,320.000000,311.000000,26.000000
std,NaN,25.259977,53.877651,28.154910,104.333211,3.285349,0.368914,13.244237,89.936214,2.654018,4.983211,12.591567,3.011835,11.419159,10.404207,2.853946

In [31]:
df_clean.head(10)

,Date,Time,StationName,Ozone,Nitric oxide,Nitrogen dioxide,Nitrogen oxides as nitrogen dioxide,Sulphur dioxide,Carbon monoxide,PM10 particulate matter (Hourly measured),Modelled Wind Direction,Modelled Wind Speed,Modelled Temperature,Non-volatile PM10 (Hourly measured),Volatile PM10 (Hourly measured),PM2.5 particulate matter (Hourly measured),Non-volatile PM2.5 (Hourly measured),Volatile PM2.5 (Hourly measured)
0,2004-01-01,10:00:00,Centre,58.0,3.0,15.0,19.0,0.0,0.1,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004-01-01,10:00:00,Old Market,NaN,1.0,21.0,23.0,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-01-01,11:00:00,Centre,60.0,3.0,19.0,23.0,3.0,0.1,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004-01-01,11:00:00,Old Market,NaN,1.0,25.0,27.0,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004-01-01,12:00:00,Centre,64.0,4.0,15.0,21.0,3.0,0.1,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2004-01-01,12:00:00,Old Market,NaN,0.0,19.0,19.0,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2004-01-01,13:00:00,Centre,62.0,4.0,19.0,25.0,3.0,0.1,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2004-01-01,13:00:00,Old Market,NaN,0.0,25.0,25.0,NaN,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2004-01-01,14:00:00,Centre,68.0,4.0,13.0,19.0,0.0,0.2,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2004-01-01,14:00:00,Old Market,NaN,1.0,15.0,17.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN